name: Nightly Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  nightly:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Zip project
        run: zip -r kherimoya-nightly.zip .

      - name: Create nightly prerelease
        uses: softprops/action-gh-release@v1
        with:
          tag_name: nightly-${{ github.run_number }}
          name: nightly build ${{ github.run_number }}
          prerelease: true
          files: kherimoya-nightly.zip
